*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* MAIN-WRAPPER */

.wrapper{
  width: 80%;
  margin: auto;
}


/* HEADER */

.navbar{
  height: 100px;
  background-color:rgb(229, 121, 230) ;
}

.jumbotron{
  height: 350px;
  background-color: rgb(225, 214, 122);
  margin-top: 20px;
}

/* MAIN */

/* Background */

.background{
  height: 400px;
  background-color: rgb(3, 136, 253);
  margin-top: 20px;
}

.title{
  height: 10%;
  background-color: rgb(171, 207, 231);
  margin-bottom: 13px;
}

/* COLUMNS */

.sx{
  float: left;
  margin-right: 1%;
  height: 83%;
  width: 16%;
  background-color: rgb(171, 207, 231);
}

.center{
  float: left;
  height: 83%;
  width: 66%;
  background-color: rgb(171, 207, 231);
}

.dx{
  float: right;
  margin-left: 1%;
  height: 83%;
  width: 16%;
  background-color: rgb(171, 207, 231);
}

/* FOOTER */

footer{
margin-top: 5px;
margin-bottom: 20px;
height: 60px;
background-color: rgb(136, 1, 254);
}
